/* @theme bbzbl */
@import 'default';
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@import url(https:V//code.cdn.mozilla.net/fonts/fira.css);

code * { font-family: 'Fira Code', monospace;  }
@supports (font-variation-settings: normal) {
  code * { font-family: 'Fira Code VF', monospace; font-size: 95%; }
}

/* section.code { font-family: 'Fira Code', monospace;  } */
/* @supports (font-variation-settings: normal) { */
/*   section.code { font-family: 'Fira Code VF', monospace; } */
/* } */

*{font-family: 'Fira Sans', sans-serif;}
.bold{font-weight:bold;}
.italic{font-style: italic;}
.oblique{font-style: oblique;}

section {
  background: rgb(255, 247, 239);
  justify-content: start;
}
section.h1 {
  font-weight: 800;
}
section.h2 {
  font-weight: 600;
  color: rgb(70, 70, 145);
}

section.big {
  justify-content: center;
}
section.big h1 {
  font-size: 3rem;
}
section.big h2 {
  font-size: 2rem;
}
section.big li {
  font-size: 1.2rem;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.small {
  font-size: 0.8rem;
}

.smaller {
  font-size: 0.6rem;
}
