/* @theme bbzbl */
@import 'default';
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@import url(https://code.cdn.mozilla.net/fonts/fira.css);

:root {
  font-family: 'Fira Sans', 'Segoe UI', 'Liberation Sans', 'Helvetica', 'Arial', sans-serif;
}

body {
  background-color: #fff;
}

/* * { font-family: 'Fira', sans-serif;  } */
code * { font-family: 'Fira Code', monospace;  }
@supports (font-variation-settings: normal) {
  code * { font-family: 'Fira Code VF', monospace; font-size: 95%; }
}

section.code { font-family: 'Fira Code', monospace;  }
@supports (font-variation-settings: normal) {
  section.code { font-family: 'Fira Code VF', monospace; }
}

* {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}
.bold{font-weight:bold;}
.italic{font-style: italic;}
.oblique{font-style: oblique;}

section .footnotes {
  position: absolute;
  bottom: 2rem;
  font-size: 0.6rem;
  border-top: 1px solid #eee;
  padding-top: 0.5rem;
  z-index: 1;
  left: 70px;
  right: 70px;
}

section .footnotes.left {
  right: 655px;
}
section .footnotes.right {
  left: 655px;
}

section[data-marpit-advanced-background-split="right"] {
  padding-right: 1rem;
}

header .footnotes,
header .footnotes-sep,
section .footnotes-sep,
section .footnote-backref,
footer .footnotes,
footer .footnotes-sep {
  display: none;
}

strong {
  color: #7b241c;
}

footer {
  width: 100%;
}

section {
  /* background: rgb(255, 247, 239); */
  background: white;
  justify-content: start;
}
section h1 {
  font-weight: 900;
  letter-spacing: 0.05rem;
}
section h2 {
  font-weight: 600;
  color: rgb(70, 70, 145);
}
section h1,
section h2,
section h3 {
  color:  #34495e;
}
section h1 strong,
section h2 strong,
section h3 strong {
  color:  #2874a6 ;
}
section h1 a {
  float: right;
}
section h1 sup a {
  float: unset;
}
section sup a::before, 
section sup a::after {
  content: unset;
}
section a,
section a:visited{
  color: darkblue;
}
/* section a { */
/*   color: */
/* } */

/* big */
section.big {
  justify-content: center;
}
section.big h1 {
  font-size: 3rem;
}
section.big h2 {
  font-size: 2rem;
}
section.big li {
  font-size: 1.2rem;
}

/* cover */
/* section.cover { */
/*   justify-content: center; */
/* } */
/* section.cover h1 { */
/*   font-size: 3rem; */
/* } */
/* section.cover marp-h1 { */
/*   padding-top: 0; */
/* } */

/* small */
.small {
  font-size: 0.8rem;
}

.right {
  float: right;
}

/* smaller */
.smaller {
  font-size: 0.6rem;
}

/* small-text */
section.small-text ul, 
section.small-text ol, 
section.small-text p {
  font-size: 0.8rem;
}
section.small-text ul {
  padding-left: 1rem;
}

/* center */
section.center {
  text-align: center;
  justify-content: center;
}

/* center */
.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
.columns h1:first-child, h2:first-child, h3:first-child {
  margin-top: 0;
}

